/* Footer */
#footer {
  display: flex;
  width: 100%;
  height: 15vh;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-red-2);
  color: #fff;
}

#footer ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

#footer li a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
}

#footer li a::after {
  content: '';
  transition: 0.2s;
  display: block;
  height: 3px;
  width: 0;
}

#footer li a:hover::after {
  background-color: #f5ff6c;
  width: 100%;
}

.perfil {
  font-size: 1.125rem;
}

.perfil h2 {
  font-family: 'Sansita Swashed', system-ui;
}

.perfil p {
  font-weight: 400;
  font-style: italic;
}

.perfil span {
  font-weight: bold;
  color: #f5ff6c;
}
