@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: #333;
  background-color: #f1f1f1;
}

html,
button {
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 1rem;
  height: 100vh;
}

.header h1 {
  font-size: 1.75rem;
}

.container-recipe {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  margin-bottom: 1rem;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.image-recipe img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.info {
  overflow-y: scroll;
  height: 200px;
}

.info-recipe {
  padding: 0 0.5rem;
  font-size: 0.875rem;
}

.info-recipe a {
  color: rgb(45, 163, 184);
  font-size: 0.875rem;
}

.instructions ol {
  list-style: disc;
  margin-left: 1rem;
}

.btn-recipe {
  padding: 0.5rem;
  display: flex;
  align-items: end;
  justify-content: end;
}

.btn-recipe button {
  border: none;
  padding: 0.375rem 0.875rem;
  box-shadow: 4px 4px 0 #333;
  color: #333;
  font-weight: 600;
  font-size: 1.275rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  transition: 0.2s;

  &:hover {
    box-shadow: 4px 4px 0 #e35;
    color: #f1f1f1;
    background-color: #333;
  }
}

/* Modal */
.modal {
  padding: 1rem;
  box-shadow: 0 0 0 4px #333, 4px 4px 0 4px #333;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.modal .close {
  background-color: #f1f1f1;
  border: 3px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  right: -10px;
}

@media (min-width: 720px) {
  .card {
    display: grid;
    grid-template-columns: 350px 1fr;
  }
  .info {
    overflow-y: scroll;
    height: 250px;
  }

  .instructions ol {
    list-style: disc;
    margin-left: 2rem;
  }
}
