@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&family=Sansita+Swashed:wght@300..900&display=swap');

@import './modal.css';
@import './header.css';
@import './main.css';
@import './footer.css';

:root {
  --color-w1: #f2f2f2;
  --color-b1: #323232;
  --shadow: 2px 2px 4px 0 rgba(65, 0, 0, 0.2);

  --color-red-1: #ff6f8c;
  --color-red-2: #ff204e;
  --color-red-3: #e40a37;
  --color-red-4: #9d0020;

  /* grays colors */
  --g1: #222222;
  --g2: #363636;
  --g3: #4a4a4a;
  --g4: #737373;
  --g5: #878787;
  --g6: #9c9c9c;
  --g7: #b0b0b0;
  --g8: #c4c4c4;
  --g9: #d9d9d9;
  --g10: #ededed;
  --g11: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Geral */
html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  background-color: var(--color-w1);
  color: var(--color-b1);
}
html::-webkit-scrollbar {
  width: 8px;
  background-color: var(--g9);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--color-red-2);
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  color: var(--color-b1);
  text-decoration: none;
}
input {
  outline: none;
}
button,
input {
  font-family: 'Roboto', sans-serif;
}
